@import url('https://fonts.googleapis.com/css2?family=Modak&family=Sora:wght@100..800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";


* {
  font-family: "Sora", sans-serif;
}

.modak {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exotica';
  src: url('/src/assets/Exotica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

is-selected {
  background-color: #7bf1a8;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-wave {
  animation: wave 1.5s ease-in-out infinite;
}